<html>
<body>

<form method="post" action="/logout">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="submit" value="Sign Out"/>
</form>

<div>
    <form method="post" action="/main">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="text" name="name" placeholder="Введите название команды">
        <input type="number" name="rank" placeholder="Введите ранк команды">
        <button type="submit">Добавить</button>
    </form>
</div>

<div>
    <div>Список команд:</div>

    <div>
        <form method="post" action="/main/filter">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="text" name="filter">
            <button type="submit">Найти</button>
        </form>
    </div>

    <ul>
        {{#teams}}
            <li>{{name}}</li>
            <ul>
                {{#players}}
                    <li>{{nickname}}</li>
                {{/players}}
            </ul>
        {{/teams}}
    </ul>

</div>
</body>
</html>