<html>
<body>

<h2>New user</h2>

{{#errorMessage}}
    {{errorMessage}}
{{/errorMessage}}

<form method="post" action="/registration">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div>
        <label> User Name:
            <input type="text" name="username"/>
        </label>
    </div>
    <div>
        <label> Password:
            <input type="password" name="password"/>
        </label>
    </div>
    <div>
        <input type="submit" value="Sign up"/>
    </div>
</form>

</body>
</html>